<!DOCTYPE HTML>
<html>
	<head>
		<title>RenTogether - Quiz Server</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
			<div id="wrapper">
				<section  class="wrapper style1 fullscreen fade-up">
					<div class="inner container">
						<h1>RenTogether Online</h1>
						<form method="POST">
							<div class="row">
								<div class="col-10 col-12-xsmall">
									<input type="text" name="code" id="code" value="" placeholder="Game Code:" />
								</div>
								<div class="col-2 col-4-xsmall">
									<input type="submit" />
								</div>
							</div>
						</form>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
								<ul class=flashes>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
								</ul>
							{% endif %}
						{% endwith %}
					</div>
				</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Vraj Prajapati. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>